.countries {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.country img {
  width: 200px;
}

.country {
  border: 3px solid goldenrod;
  border-radius: 10px;
  background-color: aquamarine;
  padding: 20px;
  text-align: center;
}
